/* 
## Colors

### Primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800 */

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

:root {
    /* Colors */
    --soft-yellow: #e9aa52;
    --light-vermillion: #f15d51;
    --almost-white: #fffdfa;
    --silver: #c5c6ce;
    --gunmetal: #5e607a;
    --dark-space-blue: #00001a;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: var(--gunmetal);
    display: grid;
    place-content: center;
}

.container {
    max-width: 1110px;
    border: 1px solid #f15d51;
    display: grid;
    grid-template-rows: 40px 1fr;
    gap: 61px;
}


nav {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    a {
        display: inline-block;
        width: 64px;
        height: 40px;
        text-decoration: none;
        text-indent: -9999px;
        background: url(../assets/images/logo.svg);
        background-size: contain;

    }
    
    ul {
        list-style: none;
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        column-gap:40px;
        
    }
}

